* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav {
    background-color: #E1FDF0;
    
}

footer {
    background-color: #54665E;
    color: #D9D9D9;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 86px;
    padding-top: 30px;
}

body {
    background-color: #f0eeee;
}

header {
    border-bottom: 1px solid #54665E;
}

footer p {
    display: grid;
    place-items: center;
    
}


a {
    text-decoration: none;
    color: #1E1E1E;
    margin-left: 30px;
}

a:hover {
    text-decoration: none;
    color: #0a7041;
    margin-left: 30px;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

button {
    margin: 50px 450px ;
    padding: 10px 100px;
    background-color: #E1FDF0;
    border-radius: 20px;
    font-weight: 600;
    border: 2px solid #54665E;
}

button:hover {
    scale: 1.05;
    box-shadow: 5px 5px 10px rgb(58, 56, 56);
    transition: 0.3s;
}



#div_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f0eeee;
    
}

#div_flex article p {
    font-size: 30px;
}

article {
    
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    margin: 30px 0;
    background-color: #E1FDF0;
    border-radius: 10px;
    border: 2px solid #54665E;
}

article:hover {
    scale: 1.05;
    box-shadow: 5px 5px 10px rgb(58, 56, 56);
    transition: 0.3s;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    padding: 10px 0
}




.container{
    width: 1200px;
    margin: 0 auto;
}